/* CartItem.css */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  padding-bottom: 0;
}

.cart-item:first-child {
  border-top: 1px solid #ddd;
}

.cart-item-details {
  display: flex;
  align-items: center;
  flex: 1;
}

.cart-item-image img {
  max-width: 80px;
  height: auto;
  margin-right: 10px;
}

.cart-item-info {
  flex: 1;
}

.cart-item-name {
  font-size: 1.28571428571429rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cart-item-price,
.cart-item-total-price,
.cart-item-quantity {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.cart-item-name {
  width: 75%;
}
.cart-item-total {
  text-align: right;
  flex: 1; /* Bottom section takes up most of the space */
}

.cart-item-total-price {
  font-weight: bold;
  color: #333;
}
