.first-section-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  overflow: hidden;
  position: relative;
  background: url(../../assets/img6.jpg) no-repeat center center/cover; /* Ensure the background image covers the container */
  z-index: 0;
}

.first-section-content {
  width: 50vw; /* Take up 50% of the viewport width */
  height: 100vh;
  background: rgba(
    255,
    255,
    255,
    0.9
  ); /* Slight transparency to show the background image */
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align content to the left */
  padding-left: 20rem; /* Add padding for spacing around content */
  padding-right: 8rem; /* Add padding for spacing around content */
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1); /* Add a shadow for better separation */
}

.first-section-content h5 {
  font-size: 0.78571428571429rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  color: #000000;
  text-transform: uppercase;
}

.first-section-content h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  line-height: 1.15em;
  margin-bottom: 1rem;
  color: #333;
  text-align: left; /* Align text to the left */
}

.first-section-content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #555;
  text-align: left; /* Align text to the left */
}

.first-section-content button {
  padding: 0.8rem 1.5rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}

.first-section-content button:hover {
  background-color: white;
  color: #000;
  border: 2px solid black;
}
