.cart-header {
  height: 5rem;
  background-color: black;
}
.cart-items-heading {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  text-transform: capitalize;
}

.cart-net-total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 3rem;
  gap: 2rem;
}

.cart-net-total-label {
  font-size: 1.28571428571429rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cart-net-total-price {
  font-size: 1.78571428571429rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
